.bedge {
    display: inline-block;
    margin: 0 2.5rem;
    padding: 4px 2.4rem;

    color: inherit;
    font-size: inherit;
    text-transform: uppercase;
    font-weight: 700;

    border-radius: 30px;
}

.bedge--green {
    background-color: #2ebb79;
    color: var(--light)
}