.gallery {
    height: 62.5rem;
}

.gallery-item {
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 4.5rem 2rem;
}

.gallery-title {
    position: relative;
    z-index: 2;

    font-size: 9.6rem;
    font-weight: 800;
    line-height: var(--letter-spacing);
    color: var(--light);

    max-width: 80rem;
    margin: 0 auto;

    text-align: center;
    opacity: 0.4;
}

.gallery-photo {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}