.info {
    display: flex;
    align-items: center;
    gap: 3rem;

    + .info {
        margin-top: 16rem;
    }
}

.info-image,
.info-content {
    flex: 0 1 50%;
}

.info-image img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.info-title {
    margin-bottom: 3rem;
    font-size: 6.4rem;
    color: var(--primary);
    line-height: 1.1;
    font-weight: 800;
    letter-spacing: var(--letter-spacing);
}

.info-title--light {
    color: var(--light);
    opacity: 0.6;
}

.info-text {
    margin-bottom: 6rem;
    font-size: 2rem;
    color: var(--gray-text);
    line-height: 1.8;
}

.mouse-nowire__info-btn {

    &::after {
        background-image: url(../image/arrow-down.svg);
    }
}