.header__nav {
    display: flex;
    justify-content: space-between;
    gap: 5rem;

    font-size: 2rem;
    font-weight: 700;
}

.header__nav-item {
    color: var(--light);

    &:hover {
        text-decoration: underline;
    }
}
